name: git2go CI
on:
  pull_request:
  push:
    branches:
    - master
    - v*

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        go: [ '1.9', '1.10', '1.11', '1.12' ]
    name: Go ${{ matrix.go }}

    runs-on: ubuntu-18.04

    steps:
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go }}
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
    - name: Build
      run: |
        git submodule update --init
        make test-static
